.navbar {
  z-index: 1046;
  padding: 0;
}

.navbar-brand {
  display: flex;
  align-items: flex-end;
  font-family: "Lobster", cursive;
}

.navlinks {
  padding: 5px 0 5px 0;
  border-top: 1px solid rgb(195, 195, 195);
}

.accordion-body {
  background: #fff;
}

.offcanvas-top {
  top: 70px;
  margin: 5px 25px 0 25px;
  border-radius: 5px;
}
