.navbar {
  z-index: 1046;
  padding: 0;
}

.navbar-brand {
  margin: 5px;
  display: flex;
  align-items: flex-end;
  font-family: "Lobster", cursive;
}

.accordion-body {
  background: #fff;
}

.offcanvas-top {
  height: 70vh;
  top: 70px;
  margin: 5px 25px 0 25px;
  border-radius: 5px;
}


.nav-item {
  text-align: center;
}

.nav-item:hover {
  background-color: rgb(24, 19, 97);
}

.nav-item:hover > a {
  color: white !important;
}

.active {
  border-radius: 2px;
  background-color: rgb(235, 235, 235);
  color: black !important;
}
