.navbar {
  z-index: 1046;
  padding: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  margin: 5px;
  display: flex;
  align-items: flex-end;
  font-family: "Lobster", cursive;
}

a {
  text-decoration: none;
  color: #000;
}

section {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 55px 20px 20px 10px;
  /* border: 2px solid red; */
  height: 95vh;
}

.row {
  height: 100%;
  /* --bs-gutter-x:0; */
}

.video-container {
  pointer-events: none;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

#text {
  position: absolute;
  color: #ffffff;
  left:10%;
  top: 30vw;
  transform: translate(0%, 10%);
}

#text h1 {
  font-size: calc(1.525rem + 3.3vw);
}

.card-title {
  font-family: "Lobster", cursive;
}

.nav-item {
  text-align: center;
}

.nav-item:hover {
  background-color: rgb(24, 19, 97);
}

.nav-item:hover > a {
  color: white !important;
}

.active {
  border-radius: 2px;
  background-color: rgb(235, 235, 235);
  color: black !important;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 500ms;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

  transform: scale(1.01);
}

#intro {
  background-image: url("images/planes.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.intro-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-text h1 {
  font-family: "Lobster", cursive;
  font-weight: bolder;
  text-align: center;
  background: -webkit-linear-gradient(
    45deg,
    rgb(16, 131, 216) 50%,
    rgb(255, 147, 52) 50%,
    rgb(255, 147, 52) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-box {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: rgb(253, 253, 253);
  /* height: 80%; */
  width: 60%;
  border: 0.01px solid rgb(214, 214, 214);
}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    width: 177.78vh;
  }
}
